<template>
  <div id='products-container'>
    <label for="selector">
      Filter:
      <select v-model="select" id="selector" @change="onChange($event)">
        <option value="all" selected>All</option>
        <option value="purchased" selected>Purchased</option>
        <option value="unpurchased" selected>Unpurchased</option>
        <option value="onetimepurchases" selected>One time purchases</option>
        <option value="subscriptions" selected>Subscriptions</option>
      </select>
    </label>
    <h1>SELECTED FILTER: {{ selectedFilterText }}</h1>

    <div v-if="selectedFilter == 'all'" class='products'>
      <Product :productAttributes="product" :productIndex="idx" v-for="(product, idx) in products" :key="idx" />
    </div>
    <div v-else class='products centeralign'>
      <Product :productAttributes="product" :productIndex="idx" v-for="(product, idx) in products" :key="idx" />
    </div>
  </div>
</template>

<script>

import Product from '../components/Product.vue';
const productItems = require("@/assets/products.json");

export default {
  name: "ProductList",
  components: {
    Product
  },
  methods: {
    onChange: function(event){
      console.log(event.target.options[event.target.options.selectedIndex].innerText );
      this.selectedFilterText = event.target.options[event.target.options.selectedIndex].innerText;
      this.selectedFilter = event.target.value;
    }
  },
  computed: {
    products() {

      if (this.selectedFilter == "all") {
        let prodArray = productItems;
        return prodArray.sort( (a, b) => a.order - b.order );
      }
      
      if (this.selectedFilter == "purchased") {
        let prodArray = [];
        for (let i = 0; i < productItems.length; i++){
          if(productItems[i].purchased === true){
            prodArray.push(productItems[i]);
          }
        }
        return prodArray.sort( (a, b) => a.order - b.order );
      }

      if (this.selectedFilter == "unpurchased") {
        let prodArray = [];
        for (let i = 0; i < productItems.length; i++){
          if(productItems[i].purchased === false){
            prodArray.push(productItems[i]);
          }
        }
        return prodArray.sort( (a, b) => a.order - b.order );
      }

      if (this.selectedFilter == "onetimepurchases") {
        let prodArray = [];
        for (let i = 0; i < productItems.length; i++){
          if(productItems[i].type === 'onetime'){
            prodArray.push(productItems[i]);
          }
        }
        return prodArray.sort( (a, b) => a.order - b.order );
      }

      if (this.selectedFilter == "subscriptions") {
        let prodArray = [];
        for (let i = 0; i < productItems.length; i++){
          if(productItems[i].type === 'recurring'){
            prodArray.push(productItems[i]);
          }
        }
        return prodArray.sort( (a, b) => a.order - b.order );
      }

      return "Product";

    }
  },
  data() {
    return {
      select: "all",
      selectedFilter: "all",
      selectedFilterText: "All"
    };
  }
};
</script>
<style lang="scss">
#products-container {
  padding: 0 25px 20px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  width: 100%;
  box-sizing: border-box;
}
.products.centeralign{
  justify-content: center;
}
@media screen and (max-width: 600px) {
  #products-container {
    padding: 0 30px;
  }
}
</style>
