<template>
  <div class="product">
    <div class="product-image">
      <img :src="productAttributes.image" />
    </div>
    <div class="product-details">

      <h3 class="product-title">
        <span>{{ productAttributes.order }}.</span>
        <span v-if="productAttributes.discount === null">{{ productAttributes.title ? productAttributes.title : "" }}</span>
        <span v-else>{{ productAttributes.title ? productAttributes.title : "" }} - <span class="discount-small">{{ productAttributes.discount }} OFF</span></span>
      </h3>

      <div v-if="productAttributes.discount === null" class="product-price">
        <span>&#163; </span>
        <span>{{
          productAttributes.price ? productAttributes.price : "Free"
        }}</span>
        <small>
          {{
            productAttributes.cycle == "month" ||
            productAttributes.cycle == "year"
              ? "per"
              : ""
          }}
          {{ productAttributes.duration ? productAttributes.duration : "" }}
          {{ productAttributes.cycle ? productAttributes.cycle : "" }}
          {{ productAttributes.type ? productAttributes.type : "" }}
        </small>
      </div>
      <div v-else class="product-price">
        <span>&#163; </span>
        <span class="strike">{{ productAttributes.price ? productAttributes.price : "Free" }}</span>
        <span class="product-discounted-price"> {{ discountedPrice(productAttributes.price, productAttributes.discount) }}</span>
        <small>
          {{
            productAttributes.cycle == "month" ||
            productAttributes.cycle == "year"
              ? "per"
              : ""
          }}
          {{ productAttributes.duration ? productAttributes.duration : "" }}
          {{ productAttributes.cycle ? productAttributes.cycle : "" }}
          {{ productAttributes.type ? productAttributes.type : "" }}
        </small>
      </div>

      <div class="product-description">
        {{ productAttributes.description ? productAttributes.description : "" }}
      </div>

    </div>
  </div>
</template>

<script>
export default {
  props: ["productAttributes", "productIndex"],
  name: "Product",
  methods: {
    discountedPrice(originalprice, discountstr) {
      let discount = discountstr.replace("%","");
      return originalprice - (originalprice * (discount)/100) 
    }
  }
};
</script>

<style lang="scss">
@import url(//db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy);
.product {
  margin: 0 5px 10px;
  border-radius: 8px;
  overflow: hidden;
  border: 4px solid #306B68;
  box-sizing: border-box;
  background-color: #282828;
}
.product .product-image img {
  display: block;
  width: 100%;
}
.product .product-details {
  background-color: #282828;
  opacity: 0.8;
  padding: 16px;
  text-align: left;
}
.product .product-details .product-title,
.product .product-details .product-price {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  margin: 0;
  margin-bottom: 8px;
}
.discount-small{
  font-size:12px;
}
.product .product-details .product-description {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
}
.strike {
  text-decoration: line-through;
}
@media screen and (min-width: 1025px) {
  .product {
    width: calc(25% - 10px);
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .product {
    width: calc(33.3% - 10px);
  }
}
@media screen and (min-width: 601px) and (max-width: 800px) {
  .product {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 600px) {
  .product {
    width: 100%;
    margin: 0 0 30px;
  }
}
</style>
