<template>
  <div id="app">
    <div id='page-container'>
      <div id="nav">
        <router-link to="/">Home</router-link> |
        <router-link to="/products">Products</router-link>
      </div>
      <router-view />
    </div>
  </div>
</template>

<style lang="scss">

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

#page-container{
  max-width:1600px;
  margin:0 auto;
}

</style>
